parameter_defaults:
  EnableFencing: true
  FencingConfig:
    devices:
    - agent: fence_ipmilan
      host_mac: controller0mac
      params:
        ipaddr: 172.16.0.1
        ipport: '6230'
        lanplus: true
        login: admin
        passwd: password
    - agent: fence_ipmilan
      host_mac: controller1mac
      params:
        ipaddr: 172.16.0.1
        ipport: '6231'
        lanplus: true
        login: admin
        passwd: password
    - agent: fence_ipmilan
      host_mac: controller2mac
      params:
        ipaddr: 172.16.0.1
        ipport: '6232'
        lanplus: true
        login: admin
        passwd: password
    - agent: fence_ipmilan
      host_mac: compute0mac
      params:
        ipaddr: 172.16.0.1
        ipport: '6233'
        lanplus: true
        login: admin
        passwd: password
    - agent: fence_ipmilan
      host_mac: compute1mac
      params:
        ipaddr: 172.16.0.1
        ipport: '6234'
        lanplus: true
        login: admin
        passwd: password
    - agent: fence_ipmilan
      host_mac: compute2mac
      params:
        ipaddr: 172.16.0.1
        ipport: '6235'
        lanplus: true
        login: admin
        passwd: password
